<nav class="navbar bg-primary bg-opacity-25 navbar-expand-lg ">
  <div class="container-fluid">
    <a class="navbar-brand" href="">Manager Shop</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="">Home</a>
        </li>

        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Users
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="/user">List Users</a></li>
            <li><a class="dropdown-item" href="/user/addUser">Add Users</a></li>

          </ul>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Produt
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="/product">List Product</a></li>
            <li><a class="dropdown-item" href="/product/addProduct">Add Prouct</a></li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>